header#main-header {
    height: 72px;
    border-bottom: 1px solid #dddddd;
    background-color: #FFF;
}

header#main-header .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 30px;
}
