form#new-post {
    width: 100%;
    max-width: 580px;
    margin: 30px auto 0;
    padding: 30px;
    background: #FFF;
}

form#new-post input {
    width: 100%;
    height: 40px;
    border: 1px solid #DDD;
    border-radius: 5px;
    font-size: 14px;
    line-height: 16px;
    padding: 10px;
    display: block;
    margin: 10px auto;
}
/* 
form#new-post input[type="file"] {
    display: none;
} */

form#new-post label.input-image {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

form#new-post button {
    padding: 15px;
    width: 100%;
    display: block;
    margin: 15px auto;
    color: #FFF;
    background: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}